@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
